<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.TestNGListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="chrome test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.BrandPageTest">
                <methods>
                    <include name="testBrandPage"/>
                </methods>
            </class>
            <class name="test.CheckoutPageTest">
                <methods>
                    <include name="testCheckoutPage"/>
                </methods>
            </class>
            <class name="test.DepartmentPage">
                <methods>
                    <include name="departmentTest"/>
                </methods>
            </class>
            <class name="test.HomePageTest">
                <methods>
                    <include name="validateTitle"/>
                    <include name="bottomLink"/>
                    <include name="openWebTest"/>
                </methods>
            </class>
            <class name="test.LoginPageTest">
                <methods>
                    <include name="testLoginPage"/>
                </methods>
            </class>
            <class name="test.NegativeLoginPage">
                <methods>
                    <include name="testNegativeLoginPage"/>
                </methods>
            </class>
            <class name="test.NegativeSignUp">
                <methods>
                    <include name="negativeSignUp"/>
                </methods>
            </class>
            <class name="test.ShoppingCartPageTest">
                <methods>
                    <include name="searchProduct"/>
                </methods>
            </class>
            <class name="test.SignUpPageTest">
                <methods>
                    <include name="validatePositiveSignUp"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="firefox test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="test.BrandPageTest">
                <methods>
                    <include name="testBrandPage"/>
                </methods>
            </class>
            <class name="test.CheckoutPageTest">
                <methods>
                    <include name="testCheckoutPage"/>
                </methods>
            </class>
            <class name="test.DepartmentPage">
                <methods>
                    <include name="departmentTest"/>
                </methods>
            </class>
            <class name="test.HomePageTest">
                <methods>
                    <include name="validateTitle"/>
                    <include name="bottomLink"/>
                    <include name="openWebTest"/>
                </methods>
            </class>
            <class name="test.LoginPageTest">
                <methods>
                    <include name="testLoginPage"/>
                </methods>
            </class>
            <class name="test.NegativeLoginPage">
                <methods>
                    <include name="testNegativeLoginPage"/>
                </methods>
            </class>
            <class name="test.NegativeSignUp">
                <methods>
                    <include name="negativeSignUp"/>
                </methods>
            </class>
            <class name="test.ShoppingCartPageTest">
                <methods>
                    <include name="searchProduct"/>
                </methods>
            </class>
            <class name="test.SignUpPageTest">
                <methods>
                    <include name="validatePositiveSignUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>